<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About HealthAssured</title>
</head>
<body>
    <h1>About HealthAssured</h1>
    <p>
        In today's world flooded with health info, HealthAssured is your trusted guide. With so much misleading stuff out there, it's hard to know what's true. HealthAssured uses smart tech to check health articles and make sure they're accurate. By giving you reliable info, HealthAssured helps you make better choices about your health. In a time when bad info can be dangerous, HealthAssured is here to keep you safe and healthy.
    </p>
</body>
</html>
